.db
.git
.github
.idea

vendor
node_modules
docs
openspec
tests

web/app/cache
web/app/debug.log
web/app/upgrade
web/app/upgrade-temp-backup
web/app/uploads

docker-compose.yml
docker-compose.loc.yml
docker-compose.prod.yml
